<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/autoload.php" colors="true">
  <testsuites>
    <testsuite name="imageThread">
      <directory suffix="Test.php">tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <env name="DATABASE" value="ImageThreadTest" force="true" />
    <env name="REL_PATH_TO_POST_IMG" value="tests/assets/img" force="true" />
    <env name="REL_PATH_TO_VIEW_COUNTER_FILE" value="tests/assets/view_counter.dat" force="true" />
    <env name="TMPDIR" value="/tmp" force="true" />
  </php>
  <filter>
    <whitelist>
      <directory suffix=".php">src/</directory>
    </whitelist>
  </filter>
  <logging>
    <log type="junit" target="tests/build/report.junit.xml"/>
    <log type="coverage-html" target="tests/build/coverage"/>
    <log type="coverage-text" target="tests/build/coverage.txt"/>
    <log type="coverage-clover" target="tests/build/logs/clover.xml"/>
  </logging>
</phpunit>